{% extends '../index.html' %}


{% block cuerpo %}
<h2> La sesion actual es: {{ sp.name }}</h2>
<h3>id: {{sp.pk}}</h3>
<h3>host : {{sp.host}}</h3>

<form class="needs-validation" action="" method="post">{% csrf_token %}
    <select name="sesion">
        {% for item in context %}
            <option value="{{ item.pk }}" {% if item.pk == sp.pk %}selected{% endif %}>{{ item.name }}</option>
        {% endfor %}
    </select>

    <input type="submit" class="btn btn-primary" value="Cambiar Sesion">
</form>

{% endblock %}